<ul class="main-header__list">
    <li class="main-header__list-item">
        <a class="main-header__link <%= path === '/' ? 'is-active' : ''%>"
           href="/">Shop</a>
    </li>
    <li class="main-header__list-item">
        <a class="main-header__link <%= path === '/products' ? 'is-active' : ''%>"
           href="/products">Products</a>
    </li>
    <% if (isAuthenticated) { %>
        <li class="main-header__list-item">
            <a class="main-header__link <%= path === '/cart' ? 'is-active' : ''%>"
               href="/cart">Cart</a>
        </li>
        <li class="main-header__list-item">
            <a class="main-header__link <%= path === '/orders' ? 'is-active' : ''%>"
               href="/orders">Orders</a>
        </li>
        <li class="main-header__list-item">
            <a class="main-header__link <%= path === '/admin/add-product' ? 'is-active' : ''%>"
               href="/admin/add-product">Add product</a>
        </li>
        <li class="main-header__list-item">
            <a class="main-header__link <%= path === '/admin/products' ? 'is-active' : ''%>"
               href="/admin/products">Admin products</a>
        </li>
        <li class="main-header__list-item">
            <form action="/logout" method="post">
<!--                https://www.udemy.com/course/nodejs-the-complete-guide/learn/lecture/11954372#overview-->
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="main-header__link" type="submit">Logout</button>
            </form>
        </li>
    <% } else { %>
        <li class="main-header__list-item">
            <a class="main-header__link <%= path === '/login' ? 'is-active' : ''%>" href="/login">Login</a>
        </li>
        <li class="main-header__list-item">
            <a class="main-header__link <%= path === '/signup' ? 'is-active' : ''%>" href="/signup">Signup</a>
        </li>
    <% } %>
</ul>
