<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/style/product.css">
</head>
<body>
<%- include('../includes/nav.ejs') %>
<main class="main">
    <h1>Cart</h1>

    <% if (products.length > 0 ) { %>
        <ul>
            <% products.forEach(product => { %>
                <li>
                    <p><%= product.title %> (<%= product.cartItem.quantity %>)</p>
                    <form method="post" action="/cart-delete-item">
                        <input type="hidden" name="productId" value="<%= product.id %>">
                        <button class="btn" type="submit">Remove</button>
                    </form>
                </li>
            <% })%>
        </ul>
    <form action="/create-order" method="post" style="text-align: center;">
        <button class="btn" type="submit">
            Order now
        </button>
    </form>
    <% } else { %>
        <p>No products in cart</p>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>
